*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: roboto;
    color: #fff;
    background-color: rgb(16, 231, 9);
    font-family: lucida Console;
  
    
}
.col
{
    float: left;
    width: 50%;
    text-align: left;
    font-size: 15px;

}
.header{
    background-color: rgb(16, 231, 9);
    overflow: hidden;
    padding-top: 10vh;
    margin-bottom: 0px;
    margin-top: 0;
} 
.col p{
    padding-top: 50%;
    font-size: x-large;
}