@import url(https://use.typekit.net/xuh6cog.css);

body{
    color: #fff;
    background-color: #006951;
    font-family: futura-pt, sans-serif;
}

.header{
    background-color: rgb(253, 253, 253);
    display: block;
    
}
h1{
    text-align: center;
    font-size: 105px;
    font-weight: 700px;
}
p{
    text-align: center;
    margin-top: -2vh;
    font-size: 44px;
    font-weight: 500px;
    
}
p a{
    text-decoration: none;
    color: #fff;
    transition: transform .2s ease;
}
a:hover{
    outline: auto;
}
.main{
    
    margin-top: 10%;
}
.logo img{
    transition: transform 0.2s ease;
}
.logo:hover img{
    transform: scale(1.2);
}


  
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  
.container .dot:nth-last-child(1) {
    animation: jumpingAnimation 0.6s 0.1s ease-in infinite;
  }
.container .dot:nth-last-child(2) {
    animation: jumpingAnimation 0.6s 0.2s ease-in infinite;
  }
.container .dot:nth-last-child(3) {
    animation: jumpingAnimation 0.6s 0.3s ease-in infinite;
  }

  
@keyframes jumpingAnimation {
    0% {
      transform: translate3d(0, 0,0);
    }
    50% {
      transform: translate3d(0, 15px,0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
@media screen and (max-width: 420px){
    .main h1{
        font-size: 30px;
    }
    .main p{
        font-size: small;
        margin-top: 10px;
    }
    .main{
        margin-top: 50%;
    }
    .dot{
        width: 5px;
        height: 5px;
    }
    
}
