@import url(https://use.typekit.net/xuh6cog.css);

body{
    color: #fff;
    background-color: #006951;
    font-family: futura-pt, sans-serif;
}


h1{
    text-align: center;
    font-size: 105px;
    font-weight: 700px;
}
p{
    text-align: center;
    margin-top: -2vh;
    font-size: 44px;
    font-weight: 500px;
}

@media screen and (max-width: 400px){
    h1{
        font-size: 40px;
    }
    p{
        font-size: small;
    }
    
}
